<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>PWM - SECURE LOGIN</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="logo-space">
      <!-- Qui potresti mettere il banner identificativo citato nel CDD -->
      <h1>PLANETARY WAR MANAGER</h1>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="field-container">
        <ion-label class="custom-label">EMAIL COMANDANTE</ion-label>
        <ion-input type="email" formControlName="email" placeholder="nome@esempio.it"></ion-input>
      </div>

      <div class="field-container">
        <ion-label class="custom-label">PASSWORD</ion-label>
        <ion-input type="password" formControlName="password" placeholder="••••••••"></ion-input>
      </div>

      <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">
        AUTENTICAZIONE
      </ion-button>

      <div class="form-footer">
        <a class="secondary-link" routerLink="/auth/recover-password">Hai dimenticato la password?</a>
        <p>Non hai un account? <a class="secondary-link" routerLink="/auth/register">Registrati ora</a></p>
      </div>
    </form>
  </div>
</ion-content>